
*::-webkit-scrollbar {
    border-radius: 8px;
    width: 0px;
    height: 0px;
}

*::-webkit-scrollbar-track {
    background:rgba(0, 0, 0, 0.04);
}

*::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 8px;
}

main::-webkit-scrollbar{
    width: 0;
    height: 0;
}
