.menuItem {
    width: 230px;
    min-height: 48px ;
    padding: 12px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    .activeMenu{
        font-weight: 700;
        background-color: var(--secondary-accent-color);
    }
}

.title {
    margin-left: 12px;
}

.arrowIcon {
    margin-left: auto
}   

.link{ 
    padding: 6px 8px 6px 52px;
    width: 230px;
    height: 36px;
    position: relative;

    &::after {
        display: block;
        content: '';
        width: 1px;
        height: 24px;
        background-color: #c4ff61;

        position: absolute;
        left: 40px;
        top:6px;
        bottom: 6px;
    }

    .activeLink {
        font-weight: 700;

        &::after{
            width: 8px;
        }
    }
}

.linkList {
    width: 100%;
}